<footer class="form-footer pc-defense-favorites-window-footer">
  <button type="submit">
    <i class="fa-solid fa-floppy-disk" aria-hidden="true"></i>
    <span>Save Changes</span>
  </button>
</footer>
