<section class="pc-description-editor-body">
  <div class="form-group">
    <prose-mirror name="{{editorName}}" class="inventory-editor peasant-desc-editor" value="{{existing}}" data-document-uuid="{{documentUuid}}"></prose-mirror>
  </div>
</section>
