<footer class="form-footer pc-notable-combat-tag-editor-footer">
  <button type="button" class="peasant-tag-add" data-pc-notable-combat-footer="details">
    <i class="fa-solid fa-plus" aria-hidden="true"></i>
    <span>Add Tag</span>
  </button>
</footer>
