<hr class="section-divider pc-tab-detached-divider">
<div class="pc-tab-panel pc-settings-tab-panel tab{{#if (eq activeSheetTab "settings")}} active{{/if}}" data-pc-tab-panel="settings" data-group="primary" data-tab="settings">
  <header class="pc-settings-header">
    <h3><i class="fa-solid fa-gear" aria-hidden="true"></i> Peasant Sheet Configuration</h3>
  </header>

  <div class="pc-settings-groups">
    {{#each peasantCoreSettingGroups as |group|}}
      <fieldset class="pc-settings-group">
        <legend>{{group.label}}</legend>

        {{#each group.settings as |setting|}}
          <div class="pc-setting-row form-group{{#if setting.isAction}} pc-setting-action-row{{/if}}">
            <label class="pc-setting-label" {{#unless setting.isAction}}for="{{setting.id}}"{{/unless}}>{{setting.label}}</label>
            <div class="pc-setting-control form-fields">
              {{#if setting.isAction}}
                <button
                  type="button"
                  id="{{setting.id}}"
                  class="pc-setting-action-button"
                  data-pc-setting-action="{{setting.action}}"
                  data-tooltip="{{setting.buttonLabel}} {{setting.label}}"
                  aria-label="{{setting.buttonLabel}} {{setting.label}}">
                  {{#if setting.hasButtonIcon}}<i class="{{setting.buttonIcon}}" aria-hidden="true"></i>{{/if}}
                  <span>{{setting.buttonLabel}}</span>
                </button>
              {{else if setting.isBoolean}}
                <input
                  type="checkbox"
                  id="{{setting.id}}"
                  class="pc-sheet-setting-input"
                  data-pc-setting="{{setting.flagKey}}"
                  {{#if setting.checked}}checked{{/if}}
                  {{#unless setting.editable}}disabled{{/unless}}>
              {{else}}
                {{#if setting.hasSuffix}}
                  <div class="pc-setting-number-suffix-control">
                    <input
                      type="number"
                      id="{{setting.id}}"
                      class="pc-sheet-setting-input pc-input"
                      data-pc-setting="{{setting.flagKey}}"
                      value="{{setting.value}}"
                      step="{{setting.step}}"
                      inputmode="{{setting.inputMode}}"
                      data-dtype="Number"
                      pattern="{{setting.pattern}}"
                      {{#if setting.hasMin}}min="{{setting.min}}"{{/if}}
                      {{#unless setting.editable}}disabled{{/unless}}>
                    <span class="pc-setting-number-suffix" aria-hidden="true">{{setting.suffix}}</span>
                  </div>
                {{else}}
                  <input
                    type="number"
                    id="{{setting.id}}"
                    class="pc-sheet-setting-input pc-input"
                    data-pc-setting="{{setting.flagKey}}"
                    value="{{setting.value}}"
                    step="{{setting.step}}"
                    inputmode="{{setting.inputMode}}"
                    data-dtype="Number"
                    pattern="{{setting.pattern}}"
                    {{#if setting.hasMin}}min="{{setting.min}}"{{/if}}
                    {{#unless setting.editable}}disabled{{/unless}}>
                {{/if}}
              {{/if}}
            </div>
            <p class="pc-setting-hint hint">{{setting.hint}}</p>
          </div>
        {{/each}}
      </fieldset>
    {{/each}}
  </div>
</div>
