<section class="pc-attributes-skills-section">
  <div class="pc-attributes-skills-header"></div>
  <div class="skills-container pc-skills-tab-panel tab{{#if (eq activeSheetTab "skills")}} active{{/if}}" data-group="primary" data-tab="skills">
    <fieldset class="pc-foundry-section pc-skills-foundry-section" data-entry-collection="skills">
      <legend class="control"><span>Skills</span>{{#if @root.editable}}<button type="button" class="add-skill-btn icon fa-regular fa-square-plus inline-control" data-tooltip aria-label="Add Skill"></button>{{/if}}</legend>
      {{> "systems/peasant-core/templates/actor/parts/skill-entry-list.html" entries=skills isSkills=true}}
    </fieldset>
  </div>
</section>
